body {
  background-image: url("webb.png");
}

.App {
  text-align: center;
}



h2 { 
  text-shadow: 1px 1px 1px #ccc;
}

button {
  background-color: #1962e0; /* Green */
  border: thick, grey;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

